body {
  background: aliceblue;
}

.heading {
  text-align: center;
  padding: 20px;
}

.form-container {
  padding: 20px;
  background: white;
}

#mapID { 
  height: 500px; 
}

.form-group.required .control-label:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 4px;
}